body {
    background-image: linear-gradient(#8023b2, #5a0c8d, #47007b);
    color: #a4aaad;
    font-size: 35px;

h1{
    color:black;
}

h2 {
    background-color:black;
    color:aliceblue;
}

img{
    width:500px;
    height:300px;
}
