body {
    background-image: limear-graddient(#0e09b6, #0000a3, #00009c);
    color: #a4aaad;
    font-size: 35px;

h1{
    color:black;
}

h2 {
    background-color:black;
    color:aliceblue;
}

img{
    width:500px;
    height:300px;
}
